<html>
    <head>
        <title>Email</title>
    </head>
    <body>
        <table>
            <tr><td style="padding: 15px;"><b>Name:</b> {{name}}</td></tr>
            <tr><td style="padding: 15px;"><b>Mobile No:</b> {{mobile_no}}</td></tr>
            <tr><td style="padding: 15px;"><b>donatted amount:</b> {{amount}}  ₹</td></tr>
            <tr><td style="padding: 15px;padding-top: 35px;">Your donation is succussfully completed.....</td></tr>
            <tr><td style="padding: 15px;padding-top: 35px;">Thank you.</td></tr>
        </table>
        

        

        

        

    </body>
</html>