{% load static %}
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
</head>

<body>
    <div class="container" style="border: black;">
        <div class="text-center mt-5">
            <img src="static/d1.png" class="img-fluid" width="30%" alt=" "  class="rounded">
        </div>
        <div class="text-center mt-5">
            <a href="{% url 'base:index' %}" class="btn btn-outline-danger mt-3 "><span>Donate </span></a>
        </div>
    </div>
</body>

</html>